<ul>

	<li><%= link_to 'home' ,'/data/index'%></li>
	<li><%= link_to 'new' ,'/trade/new'%></li>
	<li><%= link_to 'trade' ,'/trade/trade'%></li>
	<li><%= link_to 'about' ,'/data/about'%></li>
	<li><%= link_to 'login' ,'/trade/login'%></li>


</ul>